@media only screen and (max-width: 992px) {

	.navbar-default .navbar-nav>li>a {
		font-size: 14px;
	}

@media only screen and (max-width: 992px) {
	.live-feed-section {
		height: 150%;
	}
}

@media only screen and (max-width: 768px) {
	.navbar-brand {
		padding: 0 15px;
	}

	.navbar-nav {
		float: left;
		width: 100%;
		text-align: center;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.shrink .navbar-brand {
	    padding: 8px 10px 0;
	}

	.product-section {
		height: auto;
		padding-bottom: 20px;
	}

	.live-feed-section {
		height: 160%;
	}

	.prod-info.deskview {
		display: none !important;
	}

	.prod-info.mobView .prod-img {
		margin-bottom: 30px;
	}

	.product-section {
		background-size: cover;
	 }

	 /*.carousel-inner .fill {
	 	background-image: url('../img/slider/Carousel-Banner_640x645.png') !important;
	 }*/

	 .mobSlide {
	 	display: block !important;
	 	width: 100%;
	 }

	 .carousel {
	 	top: 7%;
	 }

	 .carousel, .item, .active {
	 	height: auto;
	 }

	 .carousel-inner .fill img {
	 	display: none;
	 }

	.liveFeeds .fb {
		margin-top: 20px;
		border-left:1px solid #75a6b4;

	}


}

@media only screen and (max-width: 736px) {
	.live-feed-section {
    	height: 270%;
	}
}

@media only screen and (max-width: 667px) {
	.live-feed-section {
    	height: 298%;
	}
}

@media only screen and (max-width: 640px) {
	.live-feed-section {
	    height: 305%;
	}
}

@media only screen and (max-width: 568px) {
	.live-feed-section {
		height: auto;
		padding-bottom: 145px;
	}

	.social-cnnct {
	    background: #dde9ed;
	}
}

@media only screen and (max-width: 480px) {
	.live-feed-section {
		background-color: #dde9ed;
	}

	.footer-bottom {
		line-height: 35px;
	}

	.navbar-brand img {
		/*width: 80%;*/
		padding-top: 8px;
	}

	.shrink .navbar-brand {
		padding: 6px 10px 0;
	}

	.video {
		margin: 6px 0 0;
	}

	.carousel .icon-prev,
	.carousel .icon-next {
		 width: 30px;
	    height: 30px;
	    font-size: 20px;
	}
}

@media only screen and (max-width: 420px) {
	h1 {
		font-size: 24px;
		letter-spacing: 6px;
	}

	.prodcut-details .content h3 {
		font-size: 18px;
	}

	.prodcut-details .content button, .prod-info.mobView  button {
		font-size: 14px;
	}

	.footer-bottom p {
		font-size: 10px;
		margin-top: 25px;
	}
}

@media only screen and (max-width: 360px) {
	.products-story-section {
		background-size: initial;
	}

	.video {
		border: 5px solid #fff;
	}

	.video iframe {
		width: 100%;
		height: 180px;
	}

	.liveFeeds .thead i {
	    left: 10%;
	}

	.liveFeeds .thead {
		font-size: 20px;
	}
}


/* Landscape */
/*iphone 6+*/

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
  	.product {
  		width: 38%;
  	}

  	.product .icon .overlay {
  		width: 90%;
  		margin:auto;
  	}
}

/*iphone 6*/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
  	.product {
  		width: 40%;
  	}

  	.product .icon .overlay {
  		width: 96%;
  		margin:auto;
  	}
}


/*iphone 5 & 5s*/

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.product {
  		width: 50%;
  	}

  	.product .icon .overlay {
  		width: 92%;
  		margin:auto;
  	}
}


/*iphone 4 & 4s*/

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  	.product .icon .overlay {
  		width: 100%;
  	}
}




